每日股價

In [1]:
import requests
import pandas as pd
from io import StringIO
import datetime

#import pymysql
#from sqlalchemy import create_engine
#from sqlalchemy import create_engine, Table, Column, MetaData, String, Integer, Float , Date, PrimaryKeyConstraint
def crawl_price(date):
    
    # 將 date 變成字串 舉例：'20180525' 
    datestr = date.strftime('%Y%m%d')
    
    # 從網站上依照 datestr 將指定日期的股價抓下來
    r = requests.post('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALLBUT0999')
    
    # 將抓下來的資料（r.text），其中的等號給刪除
    content = r.text.replace('=', '')
    
    # 將 column 數量小於等於 10 的行數都刪除
    lines = content.split('\n')
    lines = list(filter(lambda l:len(l.split('",')) > 10, lines))
    
    # 將每一行再合成同一行，並用肉眼看不到的換行符號'\n'分開
    content = "\n".join(lines)
    #print(content)
    
    # 假如沒下載到，則回傳None（代表抓不到資料）
    if content == '':
        return None
    
    # 將content變成檔案：StringIO，並且用pd.read_csv將表格讀取進來
    df = pd.read_csv(StringIO(content))
    
    # 將表格中的元素都換成字串，並把其中的逗號刪除
    df = df.astype(str)
    df = df.apply(lambda s: s.str.replace(',', ''))
    # 將爬取的日期存入 dataframe
    df['date'] = pd.to_datetime(date)
    
    # 將「證券代號」的欄位改名成「stock_id」
    df = df.rename(columns={'證券代號':'stock_id'})

    
    # 將 「stock_id」與「date」設定成index 
    #df = df.set_index(['stock_id', 'date'])
    
    # 將所有的表格元素都轉換成數字，error='coerce'的意思是說，假如無法轉成數字，則用 NaN 取代
    #df = df.apply(lambda s:pd.to_numeric(s, errors='coerce'))
    df.iloc[:, 1:] = df.iloc[:, 1:].apply(lambda s: pd.to_numeric(s, errors='coerce'))
    # 將 'stock_id' 欄位轉換為字串
    df['stock_id'] = df['stock_id'].astype(str)
    
    # 刪除不必要的欄位
    df = df[df.columns[df.isnull().all() == False]]
    
    return df

In [2]:
import pymysql
import time
from sqlalchemy import create_engine
from sqlalchemy import create_engine, Table, Column, MetaData, String, Integer, Float , Date, PrimaryKeyConstraint
#連結資料庫
engine = create_engine('mysql+mysqlconnector://root:richard44918@localhost:3306/daily_price')# 設定起始和結束日期

start_date = '2023-01-01'
end_date = '2023-12-31'

# 生成日期範圍
date_range = pd.date_range(start=start_date, end=end_date)

# 篩選出平日（周一到周五）
weekdays = date_range[date_range.weekday < 5]

# 顯示結果
#print(weekdays)
#print(weekdays[0])
#print(len(weekdays))
#print(datetime.datetime(2024,10,31))

for day in weekdays:
    #dfs = crawl_price(datetime.datetime(2024,10,31))
    dfs = crawl_price(day)
    print(day)
    if dfs is None or dfs.empty:
        continue
    time.sleep(20)
    dfs = dfs
    dfs['date'] = pd.to_datetime(dfs['date'])
    dfs['date'] = dfs['date'].dt.strftime('%Y-%m-%d')
    dfs.to_sql('price', con=engine, if_exists='append', index=False)#index=False if_exists='replace'
    #price_2023

2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00
2023-02-13 00:00:00
2023-02-14 00:00:00
2023-02-15 00:00:00
2023-02-16 00:00:00
2023-02-17 00:00:00
2023-02-20 00:00:00
2023-02-21 00:00:00
2023-02-22 00:00:00
2023-02-23 00:00:00
2023-02-24 00:00:00
2023-02-27 00:00:00
2023-02-28 00:00:00
2023-03-01 00:00:00
2023-03-02 00:00:00
2023-03-03 00:00:00
2023-03-06 00:00:00
2023-03-07 00:00:00
2023-03-08 00:00:00
2023-03-09 00:00:00
2023-03-10 00:00:00
2023-03-13 00:00:00
2023-03-14 00:00:00
2023-03-15 00:00:00
2023-03-16 00:00:00
2023-03-17 00:00:00
2023-03-20 00:00:00
2023-03-21 00:00:00
2023-03-22 00:00:00
2023-03-23 00:00:00
2023-03-24 00:00:00
2023-03-27 00:00:00
2023-03-28 00:00:00
2023-03-29 00:00:00
2023-03-30 00:00:00
2023-03-31 00:00:00
2023-04-03 00:00:00
2023-04-04 00:00:00
2023-04-05 00:00:00
2023-04-06 00:00:00
2023-04-07 00:00:00
2023-04-10 00:00:00
2023-04-11 00:00:00
2023-04-12 00:00:00
2023-04-13 00:00:00
2023-04-14 00:00:00
2023-04-17 00:00:00
2023-04-18 00:00:00
2023-04-19 00:00:00
2023-04-20 00:00:00
2023-04-21 00:00:00
2023-04-24 00:00:00
2023-04-25 00:00:00
2023-04-26 00:00:00
2023-04-27 00:00:00
2023-04-28 00:00:00
2023-05-01 00:00:00
2023-05-02 00:00:00
2023-05-03 00:00:00
2023-05-04 00:00:00
2023-05-05 00:00:00
2023-05-08 00:00:00
2023-05-09 00:00:00
2023-05-10 00:00:00
2023-05-11 00:00:00
2023-05-12 00:00:00
2023-05-15 00:00:00
2023-05-16 00:00:00
2023-05-17 00:00:00
2023-05-18 00:00:00
2023-05-19 00:00:00
2023-05-22 00:00:00
2023-05-23 00:00:00
2023-05-24 00:00:00
2023-05-25 00:00:00
2023-05-26 00:00:00
2023-05-29 00:00:00
2023-05-30 00:00:00
2023-05-31 00:00:00
2023-06-01 00:00:00
2023-06-02 00:00:00
2023-06-05 00:00:00
2023-06-06 00:00:00
2023-06-07 00:00:00
2023-06-08 00:00:00
2023-06-09 00:00:00
2023-06-12 00:00:00
2023-06-13 00:00:00
2023-06-14 00:00:00
2023-06-15 00:00:00
2023-06-16 00:00:00
2023-06-19 00:00:00
2023-06-20 00:00:00
2023-06-21 00:00:00
2023-06-22 00:00:00
2023-06-23 00:00:00
2023-06-26 00:00:00
2023-06-27 00:00:00
2023-06-28 00:00:00
2023-06-29 00:00:00
2023-06-30 00:00:00
2023-07-03 00:00:00
2023-07-04 00:00:00
2023-07-05 00:00:00
2023-07-06 00:00:00
2023-07-07 00:00:00
2023-07-10 00:00:00
2023-07-11 00:00:00
2023-07-12 00:00:00
2023-07-13 00:00:00
2023-07-14 00:00:00
2023-07-17 00:00:00
2023-07-18 00:00:00
2023-07-19 00:00:00
2023-07-20 00:00:00
2023-07-21 00:00:00
2023-07-24 00:00:00
2023-07-25 00:00:00
2023-07-26 00:00:00
2023-07-27 00:00:00
2023-07-28 00:00:00
2023-07-31 00:00:00
2023-08-01 00:00:00
2023-08-02 00:00:00
2023-08-03 00:00:00
2023-08-04 00:00:00
2023-08-07 00:00:00
2023-08-08 00:00:00
2023-08-09 00:00:00
2023-08-10 00:00:00
2023-08-11 00:00:00
2023-08-14 00:00:00
2023-08-15 00:00:00
2023-08-16 00:00:00
2023-08-17 00:00:00
2023-08-18 00:00:00
2023-08-21 00:00:00
2023-08-22 00:00:00
2023-08-23 00:00:00
2023-08-24 00:00:00
2023-08-25 00:00:00
2023-08-28 00:00:00
2023-08-29 00:00:00
2023-08-30 00:00:00
2023-08-31 00:00:00
2023-09-01 00:00:00
2023-09-04 00:00:00
2023-09-05 00:00:00
2023-09-06 00:00:00
2023-09-07 00:00:00
2023-09-08 00:00:00
2023-09-11 00:00:00
2023-09-12 00:00:00
2023-09-13 00:00:00
2023-09-14 00:00:00
2023-09-15 00:00:00
2023-09-18 00:00:00
2023-09-19 00:00:00
2023-09-20 00:00:00
2023-09-21 00:00:00
2023-09-22 00:00:00
2023-09-25 00:00:00
2023-09-26 00:00:00
2023-09-27 00:00:00
2023-09-28 00:00:00
2023-09-29 00:00:00
2023-10-02 00:00:00
2023-10-03 00:00:00
2023-10-04 00:00:00
2023-10-05 00:00:00
2023-10-06 00:00:00
2023-10-09 00:00:00
2023-10-10 00:00:00
2023-10-11 00:00:00
2023-10-12 00:00:00
2023-10-13 00:00:00
2023-10-16 00:00:00
2023-10-17 00:00:00
2023-10-18 00:00:00
2023-10-19 00:00:00
2023-10-20 00:00:00
2023-10-23 00:00:00
2023-10-24 00:00:00
2023-10-25 00:00:00
2023-10-26 00:00:00
2023-10-27 00:00:00
2023-10-30 00:00:00
2023-10-31 00:00:00
2023-11-01 00:00:00
2023-11-02 00:00:00
2023-11-03 00:00:00
2023-11-06 00:00:00
2023-11-07 00:00:00
2023-11-08 00:00:00
2023-11-09 00:00:00
2023-11-10 00:00:00
2023-11-13 00:00:00
2023-11-14 00:00:00
2023-11-15 00:00:00
2023-11-16 00:00:00
2023-11-17 00:00:00
2023-11-20 00:00:00
2023-11-21 00:00:00
2023-11-22 00:00:00
2023-11-23 00:00:00
2023-11-24 00:00:00
2023-11-27 00:00:00
2023-11-28 00:00:00
2023-11-29 00:00:00
2023-11-30 00:00:00
2023-12-01 00:00:00
2023-12-04 00:00:00
2023-12-05 00:00:00
2023-12-06 00:00:00
2023-12-07 00:00:00
2023-12-08 00:00:00
2023-12-11 00:00:00
2023-12-12 00:00:00
2023-12-13 00:00:00
2023-12-14 00:00:00
2023-12-15 00:00:00
2023-12-18 00:00:00
2023-12-19 00:00:00
2023-12-20 00:00:00
2023-12-21 00:00:00
2023-12-22 00:00:00
2023-12-25 00:00:00
2023-12-26 00:00:00
2023-12-27 00:00:00
2023-12-28 00:00:00
2023-12-29 00:00:00

In [3]:
print(dfs)
dfs.head()

     stock_id      成交股數  成交筆數        成交金額     開盤價     最高價     最低價     收盤價  \
0        0050  13407035  7710  1819068025  135.70  136.00  135.35  135.45
1        0051     25615   164     1886622   73.50   73.75   73.40   73.65
2        0052    479675   326    61891353  128.70  129.40  128.70  129.40
3        0053      4318  1012      308954   71.80   71.80   71.65   71.65
4        0055    378574   307     9135053   24.10   24.18   24.09   24.12
...       ...       ...   ...         ...     ...     ...     ...     ...
1217     9944    107549   161     2166550   20.15   20.20   20.05   20.20
1218     9945   7692765  5231   291570922   38.10   38.40   37.55   37.75
1219     9946    176427   100     3584893   20.15   20.50   20.15   20.40
1220     9955    252136   202     6182199   24.70   24.70   24.40   24.40
1221     9958   2726813  2559   474739197  173.50  175.50  172.00  174.50

      漲跌價差  最後揭示買價  最後揭示買量  最後揭示賣價  最後揭示賣量     本益比        date
0     0.30  135.45      44  135.50       8    0.00  2023-12-29
1     0.15   73.65       1   73.70       1    0.00  2023-12-29
2     0.00  129.40      16  129.50       2    0.00  2023-12-29
3     0.35   71.95       1   72.25       2    0.00  2023-12-29
4     0.01   24.12      39   24.13       1    0.00  2023-12-29
...    ...     ...     ...     ...     ...     ...         ...
1217  0.05   20.15       1   20.20      11    6.05  2023-12-29
1218  0.10   37.70     166   37.75      79   18.15  2023-12-29
1219  0.20   20.30       2   20.45      11  120.00  2023-12-29
1220  0.10   24.40      23   24.45       4    0.00  2023-12-29
1221  1.00  174.00      24  174.50      12   91.36  2023-12-29

[1222 rows x 15 columns]

,stock_id,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,date
0,0050,13407035,7710,1819068025,135.7,136.00,135.35,135.45,0.30,135.45,44,135.50,8,0.0,2023-12-29
1,0051,25615,164,1886622,73.5,73.75,73.40,73.65,0.15,73.65,1,73.70,1,0.0,2023-12-29
2,0052,479675,326,61891353,128.7,129.40,128.70,129.40,0.00,129.40,16,129.50,2,0.0,2023-12-29
3,0053,4318,1012,308954,71.8,71.80,71.65,71.65,0.35,71.95,1,72.25,2,0.0,2023-12-29
4,0055,378574,307,9135053,24.1,24.18,24.09,24.12,0.01,24.12,39,24.13,1,0.0,2023-12-29

In [2]:
dfs = crawl_price(datetime.datetime(2024,1,1))

In [4]:
dfs['date'] = pd.to_datetime(dfs['date'])
dfs['date'] = dfs['date'].dt.strftime('%Y-%m-%d')

In [5]:
dfs.head()

,stock_id,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,date
0,0050,12949097,17586,2560817180,198.85,199.10,196.80,199.10,0.10,199.10,36,199.15,9,0.0,2024-11-11
1,0051,90466,385,7419219,82.15,82.20,81.55,82.15,0.00,82.15,3,82.20,3,0.0,2024-11-11
2,0052,1142882,1465,223919747,197.00,197.30,195.00,197.25,0.10,197.20,103,197.25,8,0.0,2024-11-11
3,0053,11874,135,1258028,106.50,106.50,105.55,106.15,1.15,106.55,14,106.60,1,0.0,2024-11-11
4,0055,652539,370,19227078,29.55,29.55,29.35,29.51,0.04,29.49,1,29.51,11,0.0,2024-11-11

In [1]:
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import create_engine, Table, Column, MetaData, String, Integer, Float , Date, PrimaryKeyConstraint
# 建立 MySQL 連接
engine = create_engine('mysql+mysqlconnector://root:richard44918@localhost:3306/daily_price')

#建立Table

metadata = MetaData()
# 定義表格結構
stock_table = Table('Price_2023', metadata,
    Column('stock_id', String(20), primary_key=True),
    Column('成交股數', Float),
    Column('成交筆數', String(50)),
    Column('成交金額', String(50)),
    Column('開盤價', String(50)),
    Column('最高價', String(50)),
    Column('最低價', String(50)),
    Column('收盤價', String(50)),
    Column('漲跌價差', String(50)),
    Column('最後揭示買價', String(50)),
    Column('最後揭示買量', String(50)),
    Column('最後揭示賣價', String(50)),
    Column('最後揭示賣量', String(50)),
    Column('本益比', String(50)),
    Column('date', String(50)),
    PrimaryKeyConstraint('stock_id', 'date')  # 設定複合主鍵
                    
)
# 創建表格
metadata.create_all(engine)

In [6]:
#INSERT table ---範例
# 將 df 存成名為「stock」的表
dfs.to_sql('price', con=engine, if_exists='append', index=False)#index=False if_exists='replace'

# 讀取 MySQL 中名為「stock」的 table
query = 'SELECT * FROM price'
df = pd.read_sql(query, con=engine)

# 顯示 DataFrame 的前幾行
print(df.head())

  stock_id        成交股數   成交筆數        成交金額     開盤價     最高價     最低價     收盤價  \
0     0050  21072000.0  31562  3965634116  186.15  190.55  185.95   190.5
1     0050   7681870.0  11801  1474449161  191.05   193.2   190.8  192.95
2     0050  10565300.0  14343  2040466889  191.55   194.7   191.4  193.65
3     0050  17354400.0  18071  3397786573  194.05  198.05   193.5   195.2
4     0050  13976800.0  14323  2750927967   194.9  198.05   194.5  197.45

   漲跌價差 最後揭示買價 最後揭示買量  最後揭示賣價 最後揭示賣量  本益比        date
0   1.3  190.5   19.0  190.55   27.0  0.0  2024-11-01
1  2.45  192.9     37  192.95    388  0.0  2024-11-04
2   0.7  193.6      2  193.65     12  0.0  2024-11-05
3  1.55  195.2   40.0  195.25    2.0  0.0  2024-11-06
4  2.25  197.4      1  197.45    151  0.0  2024-11-07